<header class="cabecalhoApp">
    <div class="logoSistema">
        Logo
    </div>
    {{tituloCabecalho}}
    <nav class="menuApp">
        <div class="menuMobile" (click)="exibirMenu()">
            <span class="barraMenuApp"></span>
            <span class="barraMenuApp"></span>
            <span class="barraMenuApp"></span>
        </div>
        <div class="listaMenuMobile" *ngIf="exibeMenu" >
            <span class="fecharMenu" (click)="fecharMenu()">X</span>
            <ul>
                <li>Resumo</li>
                <li>Dashboard</li>
                <li>Configurações</li>
            </ul>
        </div>
        <div class="listaMenu">
            <ul>
                <li>Resumo</li>
                <li>Dashboard</li>
                <li>Configurações</li>
            </ul>
        </div>
    </nav>
</header>