/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'latobold';
    src: url('/src/assets/fonts/lato-bold-webfont.woff2') format('woff2'),
         url('/src/assets/fonts/lato-bold-webfont.woff') format('woff'),
         url('/src/assets/fonts/Lato-Bold.ttf') format("truetype");;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('/src/assets/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('/src/assets/fonts/lato-regular-webfont.woff') format('woff'),
         url('/src/assets/fonts/Lato-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    font-family: 'latoregular', 'arial', sans-serif;
}

html {
    height: 100%;
}

body {
    height: auto;
}
* {
    box-sizing: border-box;
    color: #000;
}
